<form class="" action="/" method="POST">
  <label for="guess">Player Guess:</label>
  <input autofocus type="text" name="guess">
  <input type="submit" value="Guess!">
</form>

<% if @secret_word %>
  <p><%= @secret_word %></p> 
  <p><%= @result_display %></p>
<% end %>

