<form class="" action="/" method="POST">
  <label for="guess">Player Guess:</label>
  <input autofocus type="text" name="guess">
  <input type="submit" value="Guess!">
</form>

<% if player_guess %>
  <p>SECRET WORD IS: <%= secret_word %></p>
  <p><%= player_guess %></p>
  <p><%= result %></p>
<% end %>
