/*---------------------------------

  #GLOBAL

---------------------------------*/

html, body {
  height: 100%;
}

body {
  margin: 0 auto;
}

.main__section {
  position: relative;
  height: 100%;
}

.wait-screen__section {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}


/*---------------------------------

  #UILITY

---------------------------------*/

@keyframes elevator-descending--max {
  from {margin-top: -800px; }
  to   {margin-top:   3em; }
}

@keyframes flicker-animation {
  0%   { opacity:0; }
  50%  { opacity:0.9; }
  100% { opacity:0; }
}

@font-face {
     font-family: 'vcr';
     src: url('/fonts/vcr.ttf');
}

@font-face {
     font-family: 'press-start';
     src: url('/fonts/press-start.ttf');
}



/*---------------------------------

  #SECTION - #Start

---------------------------------*/

/* Backdrop
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.backdrop__section--ceres-station {
  background: url('/images/start/ceres-station__backdrop--maximum.png') no-repeat center top;
  min-width: 1px;
  height: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
}

/* Samus
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.samus__div {
  background: url('/images/start/samus-aran.png') no-repeat center top;
  background-size: contain;
  width: 120px;
  height: 240px;
  margin: auto;
  margin-top: 3em;
  animation-name: elevator-descending--max;
  animation-duration: 7s;
}

/* Elevator
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.elevator__div {
  position: relative;
  background: url('/images/start/elevator.png') no-repeat center center;
  background-size: cover;
  
  width: 160px;
  height: 22.6px;
  margin: auto;
}





/*---------------------------------

  #FORM - Game State

---------------------------------*/

/* Game-State
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.game-state__paragraph {
  background-color: transparent;
  position: relative;
  text-align: center;
  top: 2em;
  color: red;
  text-shadow: 2px 2px #333;
  font-size: 2em;
  font-family: press-start;
  line-height: 1.2em;
  z-index: 2;
}

.secret-word__paragraph {
  background-color: transparent;
  position: relative;
  text-align: center;
  top: 2.4em;
  color: #ff4444;
  text-shadow: 2px 2px #333;
  font-size: 2em;
  font-family: press-start;
  line-height: 1.2em;
  z-index: 2;
}

/* Press Start
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.invite__form {
  width: 100%;
  display: block;
  top: 50%;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  animation-name: flicker-animation;
  animation-duration: 3.6s;
  animation-iteration-count: infinite;
  z-index: 10;
}

.invite__input {
  white-space: normal;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border: none;
  color: red;
  padding: 5% 0;
  text-shadow: 2px 2px #333;
  font-size: 2em;
  font-family: press-start;
  font-weight: bold;
}





/*---------------------------------

  #FIGURE - #Start

---------------------------------*/

/* MISSION SUCCESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.wait-screen__figure--mission-success {
  position: relative;
  background: url('/images/win/wait-screen--win1.jpg') no-repeat center;
  background-size: contain;
  min-width: 1px;
  height: 100%;
}

/* Game Over
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.wait-screen__figure--gameover {
  background: url('/images/lose/samus.jpg') no-repeat center center;
  background-size: cover;
  min-width: 1px;
  height: 80%;
  margin-top: 5%;
}





/*---------------------------------

  #GAME -

---------------------------------*/
/* Player
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.main__section {
  overflow: hidden;
  background: url('/images/game/ceres__background.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}



/* Player
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.lives-left__paragraph {
  text-align: center;
  margin-top: 0.6em;
  margin-left: 0.6em;
  font-family: press-start;
  color: #aaa;
}

.lives-left__span {
  display: block;
}


/* Miss - incorrect_guess_history
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.incorrect-history__article {
  text-align: center;
  margin-top: 0.6em;
  margin-left: 0.6em;
  font-family: press-start;
  color: #ada;
}



/* Samus
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.fight-scene__section {
  overflow: hidden;
  text-align: center;
}



// /* Samus
//   –––––––––––––––––––––––––––––––––––––––––––––––––– */
// .samus__div--image {
//   float: left;
//   display: inline-block;
//   background: url('/images/game/samus__sprite.png') no-repeat;
//   background-position: center;
//   background-size: contain;
//   width: 80px;
//   height: 80px;
//   background-color: red;
//   position: relative;
//   bottom: 0;
// }


/* Boss
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.boss__article {
  margin-bottom: 2em;
}

.boss__div--image {
  margin-top: 10px;
  display: inline-block;
  background: url('/images/game/boss.png') no-repeat;
  background-position: center;
  background-size: contain;
  width: 160px;
  height: 100px;
  margin-left: 22px;
}
  
.boss-life-bar__div {
  display: inline-block;
  position: relative;
  background-color: #555;
}

.boss-max-life__div {
  width: 14px;
  height: 14px;
  background-color: transparent;
}

.boss-life-left__div {
  width: 13px;
  height: 13px;
  margin: 4px;
  background-color: gold;
}

/* Boss
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.response__article {
  display: flex;
  align-items: center;
}



  
/* Display
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.display__paragraph {
  text-align: center;
  letter-spacing: -0.4em;
  font-family: press-start;
  color: red;
}


/* Guess
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.guess__form {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  font-family: press-start;
  margin-top: 2em;
}

.guess__label {
  color: #e5e5e5;
  margin-right: 1em;
}

.guess__input {
  width: 20px;
  height: 20px;
}

.guess__input--submit {
  cursor: crosshair;
  margin-left: 1em;
}



/* Response
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.response__article {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
  
.response__paragraph {
  display: inline-block;
  color: green;
  font-family: press-start;
  margin-top: 0.5em;
  font-size: 0.8em;
  margin-left: 1em;
}
  
.response__paragraph--metroid-gif {
  display: inline-block;
  background: url('/images/game/metroid.gif') no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 60px;
}
